body{
  margin: 0px;
}

a{
  text-decoration: none;
  color: white;
}

/* Here is the header section */

.header{
  display: flex;
  background-color: rgb(156, 27, 21);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 16px 300px;
  flex: 1 1 auto;
}

.ts{
  font-size: large;
}

.music{
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 16px;
  flex: 1 1 auto;
}

li{
  gap: 16px;
}

/* Here is the firts content section */

.content1{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(156, 27, 21);
  color: white;
  padding: 100px 300px;
  flex: 1 1 auto;
}

.imagen{
  display: flex
  flex: 1 1 auto;;
  width: 500px;
  height: auto;
  margin: 36px;
  margin-right: 0px;
}

.text1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 16px;
  flex: 1 1 auto;
}

.tsweb{
  font-size: 50px;
}

.fanweb{
  font-size: 25px;
}

.button1{
  width: fit-content;
  font-size: large;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: rgb(101, 6, 4);
  border-color: rgb(101, 6, 4);
  color: white;
}

/* here it's the second content section */

.content2{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(101, 6, 4);;
}

.albums{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 36px;
  gap: 72px;
}

.tayalbums{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 36px;
  font-size: 55px;
}

.imagetext{
  display: flex;
  flex-direction: column;
  width: 270px;
  height: auto;
}

.foto{
  display: flex;
  width: 250px;
  height: auto;
  border: 5px solid; 
  border-color: rgb(101, 6, 4);
  border-radius: 10px;
  padding: 10px;
}

.sometext{
  display: flex;
  width: 265px;
  height: auto;
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

/* here it's the third content section */

.content3{
  display: flex;
  flex-direction: column;
  padding: 200px 300px;
  gap: 20px;
  color: white;
  background-color: rgb(185, 153, 130);
}

.phrase{
  font-size: 55px;
  text-align: left;
}

.goldrush{
  font-size: 30px;
  text-align: right;
}

/*here it's the forth content section */

.content4{
  display: flex;
  background-color: white;
  padding: 100px 200px;
  justify-content: center;
}

.blue{
  display: flex;
  background-color: rgb(139, 104, 78);
  color: white;
  gap: 200px;
  padding: 50px 100px;
  justify-content: space-evenly;
  border-radius: 20px;
  align-items: center;
}

.doubt{
  font-size: 45px;
}

.listen{
  font-size: 25px;
}

.playlist{
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  border-color: white;
  color: white;
  background-color: rgb(139, 104, 78);
}

/* here it's the footer */

.footer{
  display: flex;
  background-color: rgb(156, 27, 21);
  color: white;
  text-align: center;
  justify-content: center;
  padding: 40px;
  font-size: 20px;
}